/***************************************************
* @author Brian Verschoore
* @created 27/04/2017
* @modified 04 /05/2016
* @copyright Copyright © 2016-2017 Artevelde University College Ghent
* @function catch and trow something
* @TODO A LOT
****************************************************/
html{
    width: 100%;
    height: 100%;
}

body{
    background: url(../img/magellanic-clouds.png) no-repeat center center;
    background-size: cover;
    color: #FFF;
    text-align: center;

}

body h1{
    margin-bottom: 5px;
    margin-top: 10px
}

#barn {
    width: 1200px;
    height: 900px;
    margin: auto;
    
    border: 5px solid grey;
    position: relative;
    
}
.scores {
    
    position: absolute;
    right: -30%;
    top: 155px;
}

.start_stop button{
    margin-bottom: 5px;
    width: 255px;
    
}
.start_stop{
    width: 255px;
    
}

#barn .cock {
    position: absolute;
    right: -60px;
    top: -120px;
    background: url(../img/soldier.png) no-repeat center center;
    background-size: contain;
    width: 180px;
    height: 180px;
}
.hiddenImages{
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0.01;
        
}
label{
    font-size: 2rem;
    color: white;
}
#settings{
   ;
    padding: 30px;
}